<div id="desktopContainer" class="mb-0 w-full h-full pt-12 flex flex-wrap gap-12 place-content-center overflow-x-auto justify-center items-center relative">    
    <!-- <h1>THIS IS THE DESKTOP</h1> -->
   
</div>
<template id="backToBtn">
    <div class="desktop__back--icon absolute left-8 top-8 py-2 px-5 rounded bg-[#0078d4] text-white hover:cursor-pointer hover:bg-[#2499f3]">
        <p></p>
    </div>
</template>
<template id="categoryIconsTemplate">
    <div class="desktop__icon--category bg-purple-400 rounded w-[200px] max-w-[200px] h-[200px] max-h-[200px] flex place-content-center place-items-center hover:cursor-pointer hover:shadow-md hover:shadow-[#2499f3] hover:outline hover:outline-[#2499f3]">
        <p class="icon__category--name text-center"></p>
    </div>
</template>
<template id="subcategoryIconsTemplate">
    <div class="desktop__icon--subcategory bg-purple-400 rounded w-[200px] max-w-[200px] h-[200px] max-h-[200px] flex place-content-center place-items-center hover:cursor-pointer hover:shadow-md hover:shadow-[#2499f3] hover:outline hover:outline-[#2499f3]">
        <p class="icon__subcategory--name text-center"></p>
    </div>
</template>
<template id="markerIconsTemplate">
    <div class="desktop__icon--marker bg-purple-400 rounded w-[200px] max-w-[200px] h-[200px] max-h-[200px] flex place-content-center place-items-center hover:cursor-pointer hover:shadow-md hover:shadow-[#2499f3] hover:outline hover:outline-[#2499f3]">
        <p class="icon__marker--name text-center"></p>
    </div>
</template>