<div class="">
    <div
        id="iconSelectionToggle"
        class="relative py-1 bg-[#e9e9ed] border-b-[1px] w-full flex justify-between shadow pl-2  pr-[2px] place-items-center [&>svg]:text-[#0e0e0e]"
    >
        <p id="selectedIconName">Select an icon...</p>
        <svg
            width="12px"
            height="12px"
            class="right-0"
            stroke-width="2"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            color="currentColor"
            ><path
                d="M6 9l6 6 6-6"
                stroke="currentColor"
                stroke-width="3"
                stroke-linecap="round"
                stroke-linejoin="round"></path></svg
        >
    </div>
    <div
        id="markerIconSelection"
        class="w-full bg-white [&>option]:fill-black border absolute"
    >
        <div
        class="bg-white bottom-0 grid grid-cols-[repeat(8,1fr)] max-h-[400px] overflow-y-scroll gap-[2px] px-[2px] pt-5 pb-2 shadow [&>div:hover]:bg-gray-100 [&>div]:px-0 [&>div]:py-3 [&>div]:mb-4 [&>div>svg]:h-11 [&>div:hover]:outline [&>div:hover]:outline-teal-400 [&>div]:flex [&>div]:place-content-center [&>div]:place-items-center"
        >
            <div class="marker__icon--item">
                <svg class="icon" width="44" height="44">
                    <use xlink:href="./img/Icons/icons.svg#html5"></use>
                </svg>
            </div>
            <div class="marker__icon--item">
                <svg class="icon" width="44" height="44">
                    <use xlink:href="./img/Icons/icons.svg#css3"></use>
                </svg>
            </div>
            <div class="marker__icon--item">
                <svg class="icon" width="44" height="44">
                    <use xlink:href="./img/Icons/icons.svg#javascript"></use>
                </svg>
            </div>
            <div class="marker__icon--item">
                <svg class="icon" width="44" height="44">
                    <use xlink:href="./img/Icons/icons.svg#typescript"></use>
                </svg>
            </div>
            <div class="marker__icon--item">
                <svg class="icon" width="44" height="44">
                    <use xlink:href="./img/Icons/icons.svg#python"></use>
                </svg>
            </div>
            <div class="marker__icon--item">
                <svg class="icon" width="44" height="44">
                    <use xlink:href="./img/Icons/icons.svg#php"></use>
                </svg>
            </div>
            <div class="marker__icon--item">
                <svg class="icon" width="44" height="44">
                    <use xlink:href="./img/Icons/icons.svg#cplusplus"></use>
                </svg>
            </div>
            <div class="marker__icon--item">
                <svg class="icon" width="44" height="44">
                    <use xlink:href="./img/Icons/icons.svg#react"></use>
                </svg>
            </div>
            <div class="marker__icon--item">
                <svg class="icon" width="44" height="44">
                    <use xlink:href="./img/Icons/icons.svg#astro"></use>
                </svg>
            </div>
            <div class="marker__icon--item">
                <svg class="icon" width="44" height="44">
                    <use xlink:href="./img/Icons/icons.svg#angular"></use>
                </svg>
            </div>
            <div class="marker__icon--item">
                <svg class="icon" width="44" height="44">
                    <use xlink:href="./img/Icons/icons.svg#vuedotjs"></use>
                </svg>
            </div>
            <div class="marker__icon--item">
                <svg class="icon" width="44" height="44">
                    <use xlink:href="./img/Icons/icons.svg#tailwindcss"></use>
                </svg>
            </div>
            <div class="marker__icon--item">
                <svg class="icon" width="44" height="44">
                    <use xlink:href="./img/Icons/icons.svg#devpost"></use>
                </svg>
            </div>
            <div class="marker__icon--item">
                <svg class="icon" width="44" height="44">
                    <use xlink:href="./img/Icons/icons.svg#android"></use>
                </svg>
            </div>
            <div class="marker__icon--item">
                <svg class="icon" width="44" height="44">
                    <use xlink:href="./img/Icons/icons.svg#git"></use>
                </svg>
            </div>
            <div class="marker__icon--item">
                <svg class="icon" width="44" height="44">
                    <use xlink:href="./img/Icons/icons.svg#github"></use>
                </svg>
            </div>
            <div class="marker__icon--item">
                <svg class="icon" width="44" height="44">
                    <use xlink:href="./img/Icons/icons.svg#stackoverflow"></use>
                </svg>
            </div>
            <div class="marker__icon--item">
                <svg class="icon" width="44" height="44">
                    <use xlink:href="./img/Icons/icons.svg#dropbox"></use>
                </svg>
            </div>
            <div class="marker__icon--item">
                <svg class="icon" width="44" height="44">
                    <use xlink:href="./img/Icons/icons.svg#repository"></use>
                </svg>
            </div>
            <div class="marker__icon--item">
                <svg class="icon" width="44" height="44">
                    <use xlink:href="./img/Icons/icons.svg#cube"></use>
                </svg>
            </div>
            <div class="marker__icon--item">
                <svg class="icon" width="44" height="44">
                    <use xlink:href="./img/Icons/icons.svg#palette"></use>
                </svg>
            </div>
            <div class="marker__icon--item">
                <svg class="icon" width="44" height="44">
                    <use xlink:href="./img/Icons/icons.svg#app-window"></use>
                </svg>
            </div>
            <div class="marker__icon--item">
                <svg class="icon" width="44" height="44">
                    <use xlink:href="./img/Icons/icons.svg#apple-shortcuts"
                    ></use>
                </svg>
            </div>
            <div class="marker__icon--item">
                <svg class="icon" width="44" height="44">
                    <use xlink:href="./img/Icons/icons.svg#arcade"></use>
                </svg>
            </div>
            <div class="marker__icon--item">
                <svg class="icon" width="44" height="44">
                    <use xlink:href="./img/Icons/icons.svg#attachment"></use>
                </svg>
            </div>
            <div class="marker__icon--item">
                <svg class="icon" width="44" height="44">
                    <use xlink:href="./img/Icons/icons.svg#book-stack"></use>
                </svg>
            </div>
            <div class="marker__icon--item">
                <svg class="icon" width="44" height="44">
                    <use xlink:href="./img/Icons/icons.svg#brain"></use>
                </svg>
            </div>
            <div class="marker__icon--item">
                <svg class="icon" width="44" height="44">
                    <use xlink:href="./img/Icons/icons.svg#calculator"></use>
                </svg>
            </div>
            <div class="marker__icon--item">
                <svg class="icon" width="44" height="44">
                    <use xlink:href="./img/Icons/icons.svg#check-window"></use>
                </svg>
            </div>
            <div class="marker__icon--item">
                <svg class="icon" width="44" height="44">
                    <use xlink:href="./img/Icons/icons.svg#cloud-upload"></use>
                </svg>
            </div>
            <div class="marker__icon--item">
                <svg class="icon" width="44" height="44">
                    <use xlink:href="./img/Icons/icons.svg#community"></use>
                </svg>
            </div>
            <div class="marker__icon--item">
                <svg class="icon" width="44" height="44">
                    <use xlink:href="./img/Icons/icons.svg#compress"></use>
                </svg>
            </div>
            <div class="marker__icon--item">
                <svg class="icon" width="44" height="44">
                    <use xlink:href="./img/Icons/icons.svg#horizontal-merge"
                    ></use>
                </svg>
            </div>
            <div class="marker__icon--item">
                <svg class="icon" width="44" height="44">
                    <use xlink:href="./img/Icons/icons.svg#cpu"></use>
                </svg>
            </div>
            <div class="marker__icon--item">
                <svg class="icon" width="44" height="44">
                    <use xlink:href="./img/Icons/icons.svg#cube-replace"></use>
                </svg>
            </div>
            <div class="marker__icon--item">
                <svg class="icon" width="44" height="44">
                    <use xlink:href="./img/Icons/icons.svg#dashboard-dots"
                    ></use>
                </svg>
            </div>
            <div class="marker__icon--item">
                <svg class="icon" width="44" height="44">
                    <use xlink:href="./img/Icons/icons.svg#dashboard-speed"
                    ></use>
                </svg>
            </div>
            <div class="marker__icon--item">
                <svg class="icon" width="44" height="44">
                    <use xlink:href="./img/Icons/icons.svg#database-settings"
                    ></use>
                </svg>
            </div>
            <div class="marker__icon--item">
                <svg class="icon" width="44" height="44">
                    <use xlink:href="./img/Icons/icons.svg#empty-page"></use>
                </svg>
            </div>
            <div class="marker__icon--item">
                <svg class="icon" width="44" height="44">
                    <use xlink:href="./img/Icons/icons.svg#filter-alt"></use>
                </svg>
            </div>
            <div class="marker__icon--item">
                <svg class="icon" width="44" height="44">
                    <use xlink:href="./img/Icons/icons.svg#folder"></use>
                </svg>
            </div>
            <div class="marker__icon--item">
                <svg class="icon" width="44" height="44">
                    <use xlink:href="./img/Icons/icons.svg#fx-tag"></use>
                </svg>
            </div>
            <div class="marker__icon--item">
                <svg class="icon" width="44" height="44">
                    <use xlink:href="./img/Icons/icons.svg#fx"></use>
                </svg>
            </div>
            <div class="marker__icon--item">
                <svg class="icon" width="44" height="44">
                    <use xlink:href="./img/Icons/icons.svg#gamepad"></use>
                </svg>
            </div>
            <div class="marker__icon--item">
                <svg class="icon" width="44" height="44">
                    <use xlink:href="./img/Icons/icons.svg#git-fork"></use>
                </svg>
            </div>
            <div class="marker__icon--item">
                <svg class="icon" width="44" height="44">
                    <use xlink:href="./img/Icons/icons.svg#graduation-cap"
                    ></use>
                </svg>
            </div>
            <div class="marker__icon--item">
                <svg class="icon" width="44" height="44">
                    <use xlink:href="./img/Icons/icons.svg#historic-shield"
                    ></use>
                </svg>
            </div>
            <div class="marker__icon--item">
                <svg class="icon" width="44" height="44">
                    <use xlink:href="./img/Icons/icons.svg#internet"></use>
                </svg>
            </div>
            <div class="marker__icon--item">
                <svg class="icon" width="44" height="44">
                    <use xlink:href="./img/Icons/icons.svg#keyframes"></use>
                </svg>
            </div>
            <div class="marker__icon--item">
                <svg class="icon" width="44" height="44">
                    <use xlink:href="./img/Icons/icons.svg#language"></use>
                </svg>
            </div>
            <div class="marker__icon--item">
                <svg class="icon" width="44" height="44">
                    <use xlink:href="./img/Icons/icons.svg#layout-right"></use>
                </svg>
            </div>
            <div class="marker__icon--item">
                <svg class="icon" width="44" height="44">
                    <use xlink:href="./img/Icons/icons.svg#light-bulb-on"></use>
                </svg>
            </div>
            <div class="marker__icon--item">
                <svg class="icon" width="44" height="44">
                    <use xlink:href="./img/Icons/icons.svg#media-image-folder"
                    ></use>
                </svg>
            </div>
            <div class="marker__icon--item">
                <svg class="icon" width="44" height="44">
                    <use xlink:href="./img/Icons/icons.svg#media-image"></use>
                </svg>
            </div>
            <div class="marker__icon--item">
                <svg class="icon" width="44" height="44">
                    <use xlink:href="./img/Icons/icons.svg#modern-tv"></use>
                </svg>
            </div>
            <div class="marker__icon--item">
                <svg class="icon" width="44" height="44">
                    <use xlink:href="./img/Icons/icons.svg#multiple-pages"
                    ></use>
                </svg>
            </div>
            <div class="marker__icon--item">
                <svg class="icon" width="44" height="44">
                    <use xlink:href="./img/Icons/icons.svg#network-alt"></use>
                </svg>
            </div>
            <div class="marker__icon--item">
                <svg class="icon" width="44" height="44">
                    <use xlink:href="./img/Icons/icons.svg#okrs"></use>
                </svg>
            </div>
            <div class="marker__icon--item">
                <svg class="icon" width="44" height="44">
                    <use xlink:href="./img/Icons/icons.svg#pc-check"></use>
                </svg>
            </div>
            <div class="marker__icon--item">
                <svg class="icon" width="44" height="44">
                    <use xlink:href="./img/Icons/icons.svg#pc-firewall"></use>
                </svg>
            </div>
            <div class="marker__icon--item">
                <svg class="icon" width="44" height="44">
                    <use xlink:href="./img/Icons/icons.svg#pin"></use>
                </svg>
            </div>
            <div class="marker__icon--item">
                <svg class="icon" width="44" height="44">
                    <use xlink:href="./img/Icons/icons.svg#puzzle"></use>
                </svg>
            </div>
            <div class="marker__icon--item">
                <svg class="icon" width="44" height="44">
                    <use xlink:href="./img/Icons/icons.svg#report-columns"
                    ></use>
                </svg>
            </div>
            <div class="marker__icon--item">
                <svg class="icon" width="44" height="44">
                    <use xlink:href="./img/Icons/icons.svg#rocket"></use>
                </svg>
            </div>
            <div class="marker__icon--item">
                <svg class="icon" width="44" height="44">
                    <use xlink:href="./img/Icons/icons.svg#screenshot"></use>
                </svg>
            </div>
            <div class="marker__icon--item">
                <svg class="icon" width="44" height="44">
                    <use xlink:href="./img/Icons/icons.svg#settings"></use>
                </svg>
            </div>
            <div class="marker__icon--item">
                <svg class="icon" width="44" height="44">
                    <use xlink:href="./img/Icons/icons.svg#spades"></use>
                </svg>
            </div>
            <div class="marker__icon--item">
                <svg class="icon" width="44" height="44">
                    <use xlink:href="./img/Icons/icons.svg#star"></use>
                </svg>
            </div>
            <div class="marker__icon--item">
                <svg class="icon" width="44" height="44">
                    <use xlink:href="./img/Icons/icons.svg#task-list"></use>
                </svg>
            </div>
            <div class="marker__icon--item">
                <svg class="icon" width="44" height="44">
                    <use xlink:href="./img/Icons/icons.svg#video-camera"></use>
                </svg>
            </div>
            <div class="marker__icon--item">
                <svg class="icon" width="44" height="44">
                    <use xlink:href="./img/Icons/icons.svg#view-grid"></use>
                </svg>
            </div>
        </div>
    </div>
</div>
