<div class="flex flex-row w-auto [&>div]:border-[#2a2a2a] [&>div]:border [&>div]:border-1" id="sidebarContainer">
    <div id="miniSidebarIcons" class="bg-[#181818] w-[45px] h-full flex flex-col py-4 text-gray-400 [&>div:hover]:text-white [&>div:hover]:cursor-pointer gap-6 [&>div]:w-full [&>div]:flex [&>div]:place-content-center">
        <div id="filesBtn1" class="sidebar__btn">
            <svg width='24px' height='24px' viewBox='0 0 24 24' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><title>Explorer</title><g stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'><g id='File' transform='translate(-432.000000, -192.000000)'><g id='documents_tab' transform='translate(432.000000, 192.000000)'><path d='M24,0 L24,24 L0,24 L0,0 L24,0 Z M12.5934901,23.257841 L12.5819402,23.2595131 L12.5108777,23.2950439 L12.4918791,23.2987469 L12.4918791,23.2987469 L12.4767152,23.2950439 L12.4056548,23.2595131 C12.3958229,23.2563662 12.3870493,23.2590235 12.3821421,23.2649074 L12.3780323,23.275831 L12.360941,23.7031097 L12.3658947,23.7234994 L12.3769048,23.7357139 L12.4804777,23.8096931 L12.4953491,23.8136134 L12.4953491,23.8136134 L12.5071152,23.8096931 L12.6106902,23.7357139 L12.6232938,23.7196733 L12.6232938,23.7196733 L12.6266527,23.7031097 L12.609561,23.275831 C12.6075724,23.2657013 12.6010112,23.2592993 12.5934901,23.257841 L12.5934901,23.257841 Z M12.8583906,23.1452862 L12.8445485,23.1473072 L12.6598443,23.2396597 L12.6498822,23.2499052 L12.6498822,23.2499052 L12.6471943,23.2611114 L12.6650943,23.6906389 L12.6699349,23.7034178 L12.6699349,23.7034178 L12.678386,23.7104931 L12.8793402,23.8032389 C12.8914285,23.8068999 12.9022333,23.8029875 12.9078286,23.7952264 L12.9118235,23.7811639 L12.8776777,23.1665331 C12.8752882,23.1545897 12.8674102,23.1470016 12.8583906,23.1452862 L12.8583906,23.1452862 Z M12.1430473,23.1473072 C12.1332178,23.1423925 12.1221763,23.1452606 12.1156365,23.1525954 L12.1099173,23.1665331 L12.0757714,23.7811639 C12.0751323,23.7926639 12.0828099,23.8018602 12.0926481,23.8045676 L12.108256,23.8032389 L12.3092106,23.7104931 L12.3186497,23.7024347 L12.3186497,23.7024347 L12.3225043,23.6906389 L12.340401,23.2611114 L12.337245,23.2485176 L12.337245,23.2485176 L12.3277531,23.2396597 L12.1430473,23.1473072 Z' id='MingCute' fill-rule='nonzero'></path><path d='M8,4 C8,2.89543 8.89543,2 10,2 L15.5858,2 C16.1162,2 16.6249,2.21071 17,2.58579 L20.4142,6 C20.7893,6.37507 21,6.88378 21,7.41421 L21,16 C21,17.1046 20.1046,18 19,18 L17,18 L17,20 C17,21.1046 16.1046,22 15,22 L6,22 C4.89543,22 4,21.1046 4,20 L4,8 C4,6.89543 4.89543,6 6,6 L8,6 L8,4 Z M19,16 L10,16 L10,4 L14,4 L14,7.5 C14,8.32843 14.6716,9 15.5,9 L19,9 L19,16 Z M18.5858,7 L16,7 L16,4.41421 L18.5858,7 Z M8,16 L8,8 L6,8 L6,20 L15,20 L15,18 L10,18 C8.89543,18 8,17.1046 8,16 Z' fill='currentColor'></path></g></g></g></svg>
        </div>
        <div id="filesBtn2" class="sidebar__btn">
            <svg width='24px' height='24px' viewBox='0 0 24 24' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><title>Search</title><g stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'><g id='File' transform='translate(-240.000000, -288.000000)'><g id='search_tab' transform='translate(240.000000, 288.000000)'><path d='M24,0 L24,24 L0,24 L0,0 L24,0 Z M12.5934901,23.257841 L12.5819402,23.2595131 L12.5108777,23.2950439 L12.4918791,23.2987469 L12.4918791,23.2987469 L12.4767152,23.2950439 L12.4056548,23.2595131 C12.3958229,23.2563662 12.3870493,23.2590235 12.3821421,23.2649074 L12.3780323,23.275831 L12.360941,23.7031097 L12.3658947,23.7234994 L12.3769048,23.7357139 L12.4804777,23.8096931 L12.4953491,23.8136134 L12.4953491,23.8136134 L12.5071152,23.8096931 L12.6106902,23.7357139 L12.6232938,23.7196733 L12.6232938,23.7196733 L12.6266527,23.7031097 L12.609561,23.275831 C12.6075724,23.2657013 12.6010112,23.2592993 12.5934901,23.257841 L12.5934901,23.257841 Z M12.8583906,23.1452862 L12.8445485,23.1473072 L12.6598443,23.2396597 L12.6498822,23.2499052 L12.6498822,23.2499052 L12.6471943,23.2611114 L12.6650943,23.6906389 L12.6699349,23.7034178 L12.6699349,23.7034178 L12.678386,23.7104931 L12.8793402,23.8032389 C12.8914285,23.8068999 12.9022333,23.8029875 12.9078286,23.7952264 L12.9118235,23.7811639 L12.8776777,23.1665331 C12.8752882,23.1545897 12.8674102,23.1470016 12.8583906,23.1452862 L12.8583906,23.1452862 Z M12.1430473,23.1473072 C12.1332178,23.1423925 12.1221763,23.1452606 12.1156365,23.1525954 L12.1099173,23.1665331 L12.0757714,23.7811639 C12.0751323,23.7926639 12.0828099,23.8018602 12.0926481,23.8045676 L12.108256,23.8032389 L12.3092106,23.7104931 L12.3186497,23.7024347 L12.3186497,23.7024347 L12.3225043,23.6906389 L12.340401,23.2611114 L12.337245,23.2485176 L12.337245,23.2485176 L12.3277531,23.2396597 L12.1430473,23.1473072 Z' id='MingCute' fill-rule='nonzero'></path><path d='M5,10 C5,7.23858 7.23858,5 10,5 C12.7614,5 15,7.23858 15,10 C15,12.7614 12.7614,15 10,15 C7.23858,15 5,12.7614 5,10 Z M10,3 C6.13401,3 3,6.13401 3,10 C3,13.866 6.13401,17 10,17 C11.5723,17 13.0236,16.4816 14.1922,15.6064 L19.2929,20.7071 C19.6834,21.0976 20.3166,21.0976 20.7071,20.7071 C21.0976,20.3166 21.0976,19.6834 20.7071,19.2929 L15.6064,14.1922 C16.4816,13.0236 17,11.5723 17,10 C17,6.13401 13.866,3 10,3 Z' fill='currentColor'></path></g></g></g></svg>
        </div>
        <!-- <div id="filesBtn3" class="sidebar__btn">
            <svg width='24px' height='24px' viewBox='0 0 24 24' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><title>documents_line</title><g stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'><g id='File' transform='translate(-432.000000, -192.000000)'><g id='documents_tab' transform='translate(432.000000, 192.000000)'><path d='M24,0 L24,24 L0,24 L0,0 L24,0 Z M12.5934901,23.257841 L12.5819402,23.2595131 L12.5108777,23.2950439 L12.4918791,23.2987469 L12.4918791,23.2987469 L12.4767152,23.2950439 L12.4056548,23.2595131 C12.3958229,23.2563662 12.3870493,23.2590235 12.3821421,23.2649074 L12.3780323,23.275831 L12.360941,23.7031097 L12.3658947,23.7234994 L12.3769048,23.7357139 L12.4804777,23.8096931 L12.4953491,23.8136134 L12.4953491,23.8136134 L12.5071152,23.8096931 L12.6106902,23.7357139 L12.6232938,23.7196733 L12.6232938,23.7196733 L12.6266527,23.7031097 L12.609561,23.275831 C12.6075724,23.2657013 12.6010112,23.2592993 12.5934901,23.257841 L12.5934901,23.257841 Z M12.8583906,23.1452862 L12.8445485,23.1473072 L12.6598443,23.2396597 L12.6498822,23.2499052 L12.6498822,23.2499052 L12.6471943,23.2611114 L12.6650943,23.6906389 L12.6699349,23.7034178 L12.6699349,23.7034178 L12.678386,23.7104931 L12.8793402,23.8032389 C12.8914285,23.8068999 12.9022333,23.8029875 12.9078286,23.7952264 L12.9118235,23.7811639 L12.8776777,23.1665331 C12.8752882,23.1545897 12.8674102,23.1470016 12.8583906,23.1452862 L12.8583906,23.1452862 Z M12.1430473,23.1473072 C12.1332178,23.1423925 12.1221763,23.1452606 12.1156365,23.1525954 L12.1099173,23.1665331 L12.0757714,23.7811639 C12.0751323,23.7926639 12.0828099,23.8018602 12.0926481,23.8045676 L12.108256,23.8032389 L12.3092106,23.7104931 L12.3186497,23.7024347 L12.3186497,23.7024347 L12.3225043,23.6906389 L12.340401,23.2611114 L12.337245,23.2485176 L12.337245,23.2485176 L12.3277531,23.2396597 L12.1430473,23.1473072 Z' id='MingCute' fill-rule='nonzero'></path><path d='M8,4 C8,2.89543 8.89543,2 10,2 L15.5858,2 C16.1162,2 16.6249,2.21071 17,2.58579 L20.4142,6 C20.7893,6.37507 21,6.88378 21,7.41421 L21,16 C21,17.1046 20.1046,18 19,18 L17,18 L17,20 C17,21.1046 16.1046,22 15,22 L6,22 C4.89543,22 4,21.1046 4,20 L4,8 C4,6.89543 4.89543,6 6,6 L8,6 L8,4 Z M19,16 L10,16 L10,4 L14,4 L14,7.5 C14,8.32843 14.6716,9 15.5,9 L19,9 L19,16 Z M18.5858,7 L16,7 L16,4.41421 L18.5858,7 Z M8,16 L8,8 L6,8 L6,20 L15,20 L15,18 L10,18 C8.89543,18 8,17.1046 8,16 Z' fill='currentColor'></path></g></g></g></svg>
        </div> -->
    </div>
    <div id="sidebar-extension" class="bg-[#181818] w-[0px] h-full transition-all ease-in-out text-white [&>ul>li]:pl-8 [&>ul]:flex">
        <nav class="sidebar__nav--container">           
        </nav>
        <nav class="sidebar__searcher--container pt-2 w-full h-full">     
            <div class="sidebar__searcher--bar relative w-[95%] mx-auto">
              <input type="search" id="searchToolInput" class="bg-[#2a2a2a] border border-[#666666] w-full px-2 py-[2px] text-white">      
              <div id="searchFilters" class="absolute top-0 right-1 text-gray-400/60 [&>svg:hover]:text-white h-full flex place-items-center">
                <svg width="24px" height="24px" stroke-width="1.5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="currentColor"><path d="M4 3h16a1 1 0 011 1v1.586a1 1 0 01-.293.707l-6.415 6.414a1 1 0 00-.292.707v6.305a1 1 0 01-1.243.97l-2-.5a1 1 0 01-.757-.97v-5.805a1 1 0 00-.293-.707L3.292 6.293A1 1 0 013 5.586V4a1 1 0 011-1z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg>
                <div id="filterMenu" class="absolute right-0 top-full w-max p-2 border">
                    <form id="filterSettings" class="flex flex-col [&>label]:flex [&>label>input]:mr-2">
                      <label>
                        <input type="checkbox" name="filter-name" value="filter-name">
                        <span>Name</span>
                      </label>
                      <label>
                        <input type="checkbox" name="filter-url" value="filter-url">
                        <span>URL</span>
                      </label>
                      <label>
                        <input type="checkbox" name="filter-description" value="filter-description">
                        <span>Description</span>
                      </label>
                      <label>
                        <input type="checkbox" name="filter-category" value="filter-category">
                        <span>Category</span>
                      </label>
                      <label>
                        <input type="checkbox" name="filter-subcategory" value="filter-subcategory">
                        <span>Subcategory</span>
                      </label>
                      <label>
                        <input type="checkbox" name="filter-all" value="filter-all" checked>
                        <span>All</span>
                      </label>


                    </form>
                </div>
              </div>
            </div>
            <div id="searchResultsContainer" class="h-full">
                <div 
                id="matchedResultsList" 
                class="
                overflow-y-scroll max-h-[95%] mt-[2%]
                [&>ul>div]:text-sm [&>ul>div]:flex [&>ul>div]:items-center [&>ul>div]:gap-1  [&>ul>div]:p-[2px] [&>ul>div:hover]:bg-gray-500/60
                [&>ul>div>svg]:shrink-0 [&>ul>div>p]:flex-[1] [&>ul>div>p]:pl-1 [&>ul>div>p]:text-left
                [&>ul>div>span]:h-[21px] [&>ul>div>span]:min-w-[21px] [&>ul>div>span]:flex [&>ul>div>span]:place-items-center [&>ul>div>span]:place-content-center [&>ul>div>span]:rounded-xl [&>ul>div>span]:mr-2 [&>ul>div>span]:bg-[#0078d4] [&>ul>div>span]:text-xs               
                ">
        
                </div>
            </div>
        </nav>
    </div>
</div>
<div id="searcherTemplatesContainer">
  <template id="matchedCategoryTemplate">
    <ul class="result__category--container">
      <div class="result__category--title">
        <svg width='24px' height='24px' viewBox='0 0 24 24' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><title>Extend/Collapse icon</title><g id='Icon' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'><g id='Arrow' transform='translate(-240.000000, -194.000000)'><g id='right_small_line' transform='translate(240.000000, 194.000000)'><path d='M24,0 L24,24 L0,24 L0,0 L24,0 Z M12.5935,23.2578 L12.5819,23.2595 L12.5109,23.295 L12.4919,23.2987 L12.4767,23.295 L12.4057,23.2595 C12.3958,23.2564 12.387,23.259 12.3821,23.2649 L12.378,23.2758 L12.3609,23.7031 L12.3659,23.7235 L12.3769,23.7357 L12.4805,23.8097 L12.4953,23.8136 L12.5071,23.8097 L12.6107,23.7357 L12.6233,23.7197 L12.6267,23.7031 L12.6096,23.2758 C12.6076,23.2657 12.601,23.2593 12.5935,23.2578 Z M12.8584,23.1453 L12.8445,23.1473 L12.6598,23.2397 L12.6499,23.2499 L12.6472,23.2611 L12.6651,23.6906 L12.6699,23.7034 L12.6784,23.7105 L12.8793,23.8032 C12.8914,23.8069 12.9022,23.803 12.9078,23.7952 L12.9118,23.7812 L12.8777,23.1665 C12.8753,23.1546 12.8674,23.147 12.8584,23.1453 Z M12.143,23.1473 C12.1332,23.1424 12.1222,23.1453 12.1156,23.1526 L12.1099,23.1665 L12.0758,23.7812 C12.0751,23.7927 12.0828,23.8019 12.0926,23.8046 L12.1083,23.8032 L12.3092,23.7105 L12.3186,23.7024 L12.3225,23.6906 L12.3404,23.2611 L12.3372,23.2485 L12.3278,23.2397 L12.143,23.1473 Z' fill-rule='nonzero'></path><path d='M10.2928,8.46452 C9.90231,8.85505 9.90231,9.48821 10.2928,9.87874 L12.4142,12.0001 L10.2928,14.1214 C9.90231,14.5119 9.90231,15.1451 10.2928,15.5356 C10.6834,15.9261 11.3165,15.9261 11.707,15.5356 L14.5355,12.7072 C14.926,12.3166 14.926,11.6835 14.5355,11.293 L11.707,8.46452 C11.3165,8.074 10.6834,8.074 10.2928,8.46452 Z' fill='currentColor'></path></g></g></g></svg>
        <p class="result__category--name"></p>
        <span></span>
      </div>
    </ul>
  </template>
  
  <template id="matchedSubcategoryTemplate">
    <ul class="result__subcategory--container">
      <div class="result__subcategory--title">
        <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><title>Extend/Collapse icon</title><g id="Icon" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="Arrow" transform="translate(-240.000000, -194.000000)"><g id="right_small_line" transform="translate(240.000000, 194.000000)"><path d="M24,0 L24,24 L0,24 L0,0 L24,0 Z M12.5935,23.2578 L12.5819,23.2595 L12.5109,23.295 L12.4919,23.2987 L12.4767,23.295 L12.4057,23.2595 C12.3958,23.2564 12.387,23.259 12.3821,23.2649 L12.378,23.2758 L12.3609,23.7031 L12.3659,23.7235 L12.3769,23.7357 L12.4805,23.8097 L12.4953,23.8136 L12.5071,23.8097 L12.6107,23.7357 L12.6233,23.7197 L12.6267,23.7031 L12.6096,23.2758 C12.6076,23.2657 12.601,23.2593 12.5935,23.2578 Z M12.8584,23.1453 L12.8445,23.1473 L12.6598,23.2397 L12.6499,23.2499 L12.6472,23.2611 L12.6651,23.6906 L12.6699,23.7034 L12.6784,23.7105 L12.8793,23.8032 C12.8914,23.8069 12.9022,23.803 12.9078,23.7952 L12.9118,23.7812 L12.8777,23.1665 C12.8753,23.1546 12.8674,23.147 12.8584,23.1453 Z M12.143,23.1473 C12.1332,23.1424 12.1222,23.1453 12.1156,23.1526 L12.1099,23.1665 L12.0758,23.7812 C12.0751,23.7927 12.0828,23.8019 12.0926,23.8046 L12.1083,23.8032 L12.3092,23.7105 L12.3186,23.7024 L12.3225,23.6906 L12.3404,23.2611 L12.3372,23.2485 L12.3278,23.2397 L12.143,23.1473 Z" fill-rule="nonzero"></path><path d="M10.2928,8.46452 C9.90231,8.85505 9.90231,9.48821 10.2928,9.87874 L12.4142,12.0001 L10.2928,14.1214 C9.90231,14.5119 9.90231,15.1451 10.2928,15.5356 C10.6834,15.9261 11.3165,15.9261 11.707,15.5356 L14.5355,12.7072 C14.926,12.3166 14.926,11.6835 14.5355,11.293 L11.707,8.46452 C11.3165,8.074 10.6834,8.074 10.2928,8.46452 Z" fill="currentColor"></path></g></g></g></svg>
        <p class="result__subcategory--name"></p>
      </div>
    </ul>
  </template>
  
  <template id="matchedItemTemplate">
    <li class="result__item">
      <a href="" target="_blank" class="result__item--link"></a>
    </li>
  </template>
</div>
<!-- <script src="../../public/js/sidebar.js"></script> -->
<style>
#miniSidebarIcons {
  z-index: 10;
}
#sidebar-extension {
  z-index: 9;
}

#filterMenu {
  width: 0;
  height: 0;
  display: none;
  background-color: #2a2a2a;
  transition: all ease-in-out .3s;
  z-index: 10;
}
#searchFilters.active > #filterMenu {
  width: max-content;
  height: max-content;  
  display: block;
}
#searchFilters.active > svg {
  color: #fff;
}
#searchFilters.active > #filterMenu > form > label:hover {
  color: #fff;
}

#filterMenu > form > label > input[type="checkbox"]:checked + span {
  color: #0078d4;
}
    /* Clases para el primer UL */
.result__category--container ul {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 2px;
  background-color: #2a2a2a;
}

.result__category--container svg {
  flex-shrink: 0;
}

.result__category--container p {
  flex: 1;
  padding-left: 4px;
  text-align: left;
}

.result__category--container span {
  background-color: #1242f2;
  height: 24px;
  width: 24px;
  display: flex;
  place-items: center;
  place-content: center;
  border-radius: 12px;
  padding: 8px;
}

/* Clases para el segundo UL */
.result__subcategory--container ul {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 2px 2px 2px 16px; /* Padding a la izquierda de 16px */
  background-color: #2a2a2a;
}

/* Estilos para los elementos de resultados dentro del UL */
.result__item {
  /* Estilos para los elementos dentro del UL */
}

/* Clases para el contenedor principal */
#matchedResultsList {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  max-height: 95%;
  margin-top: 2%;
}

/* Clases para los UL generados dinámicamente */
.result__category--container,
.result__subcategory--container {
  /* text-sm; */
  /* Otros estilos si es necesario */
}

/* Clases para los elementos dentro de los UL generados dinámicamente */
.result__category--title,
.result__subcategory--title {
  display: flex;
  cursor: pointer;
}

/* Estilos adicionales para los elementos generados dinámicamente */
/* ... */

</style>

<!-- [&>ul>div]:flex [&>ul>div:hover]:cursor-pointer [&>ul>div:hover]:bg-[#2a2a2a] [&>ul>div]:justify-evenly
                [&>ul>div>p]:w-[90%] [&>ul>div>p]:bg-red-500 [&>ul>div>svg]:flex [&>ul>div>svg]:m-auto
                [&>ul>div>span]:bg-[#1242f2] [&>ul>div>span]:mr-2 [&>ul>div>span]:h-[24px] [&>ul>div>span]:min-w-[24px] [&>ul>div>span]:flex [&>ul>div>span]:place-items-center [&>ul>div>span]:place-content-center [&>ul>div>span]:rounded-3xl
                [&>ul>ul>div]:flex [&>ul>ul>div]:cursor-pointer [&>ul>ul>div]:pl-4 [&>ul>ul>div:hover]:bg-[#2a2a2a]
                [&>ul>ul>div>svg]:flex [&>ul>ul>div>svg>g]:place-self-end [&>ul>ul>div>svg]:w-max [&>ul>ul>div>svg]:bg-purple-500
                [&>ul>ul>div>p]:w-full [&>ul>ul>div>p]:text-left  -->